# Ignore Python virtual environment
/venv
/OLD

# Ignore datasets and large files
/Dataset.csv
/processed_dataset.csv

# Ignore any __pycache__ folders
__pycache__/

# Ignore machine learning model and scaler files
*.joblib